<!-- HEADER -->
<app-interface-header interfaceName="{{interfaceName}}"></app-interface-header>
<!-- CONTENT -->
<div class="app-component-content"
    fxLayout.xs="column" fxLayoutAlign.xs="stretch" fxLayoutGap.xs="var(--space)"
    fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="var(--space) grid"
>
    <app-dashboard-widget *ngFor="let widget of widgets"
        fxFlex.gt-xs="48"
        fxFlex.gt-md="25"
        index="{{widget.index}}" 
        route="{{widget.route}}" 
        icon="{{widget.icon}}"
        title="{{widget.title}}" 
        text="{{widget.text}}"
    >
    </app-dashboard-widget>
</div>

