
.dashboard-card-link{
    text-decoration: none;
}

.dashboard-card{
    /* width: var(--card-width); */
    text-align: center;
    border-top: 2px solid;
}

/* .dashboard-card .icon{
    background-color: cyan;
}


.dashboard-card .content{
    background-color: yellow;
} */

.dashboard-card .icon mat-icon{
    font-size: 40px;
    position: relative;
    left: -0.3em;
}

.dashboard-card h2{
    margin: 0px;
    color: var(--palette-color-6);
}

.dashboard-card .content{
    border-left: 1px solid var(--palette-color-7)
}

.dashboard-card .content mat-icon{
    position: relative;
    top: 0.3em;
    margin-left: var(--space);
}

.dashboard-card .content div{
    text-align: right;
}

.dashboard-card-0{
    border-color: var(--palette-color-2);
}

.dashboard-card-0 mat-icon{
    color: var(--palette-color-2);
}

.dashboard-card-1{
    border-color: var(--palette-color-3);
}

.dashboard-card-1 mat-icon{
    color: var(--palette-color-3);
}

.dashboard-card-2{
    border-color: var(--palette-color-4);
}
.dashboard-card-2 mat-icon{
    color: var(--palette-color-4);
}

.dashboard-card-3{
    border-color: var(--palette-color-5);
}

.dashboard-card-3 mat-icon{
    color: var(--palette-color-5);
}
