<a class="dashboard-card-link" routerLink="{{ route }}">
    <mat-card class="dashboard-card dashboard-card-{{ index }}">
        <div fxLayout="row" fxLayoutAlign="center center" class="app-component-interface">
            <div class="icon" fxFlex="20">
                <mat-icon aria-hidden="false">{{ icon }}</mat-icon>
            </div>  
            <div class="content" fxFlex>
                <h2>{{title}}</h2>
                <div>
                    <span>{{text}}</span>
                    <mat-icon aria-hidden="false" aria-label="Clinics">play_circle_outline</mat-icon>
                </div> 
            </div>
        </div>
        <!-- <mat-card-header>
            <mat-card-title>
                <mat-icon aria-hidden="false">{{ icon }}</mat-icon>
                <span>{{ title}}</span> 
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>{{ text }}</span>
            <mat-icon aria-hidden="false" aria-label="Clinics">play_circle_outline</mat-icon>
        </mat-card-content> -->
    </mat-card>
</a>