.logo-a{
  text-decoration: none;
}

.logo-0{
  color: var(--palette-color-2);
}

.logo-1{
  color: var(--palette-color-3);
}

.menu-spacer {
    flex: 1 1 auto;
} 

.app-interface-drawer-content{
  padding: var(--space);
  /* background-color: burlywood; */
}