<mat-toolbar>
    <mat-toolbar-row>
        <a class="logo-a" routerLink="/">
            <span class="logo-0">{{appInfo.name[0]}}</span> 
            <span class="logo-1">{{appInfo.name[1]}}</span>
        </a>
        <span class="menu-spacer"></span>
        <button mat-icon-button (click)="drawer.toggle()" class="menu-icon" aria-label="Application menu">
            <mat-icon>more_vert</mat-icon>
        </button>   
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="app-interface-container" [hasBackdrop]="true">
    <mat-drawer mode="side" #drawer>
        <mat-nav-list>
            <mat-list-item (click)="drawer.close()"> 
                Meniu 
                <button mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a matLine routerLink="/">Pagina de start</a>
            </mat-list-item>
            <mat-list-item>
                <a matLine routerLink="/clinics">Clinici</a>
            </mat-list-item>
            <mat-list-item>
                <a matLine routerLink="/offers">Oferte</a>
            </mat-list-item>
            <mat-list-item>
                <a matLine  routerLink="/services">Servicii</a>
            </mat-list-item>
            <mat-list-item>
                <a matLine  routerLink="/medics">Medici</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="app-interface-drawer-content">
        <div fxLayout="column" fxFlexFill fxLayoutGap="var(--space)" class="app-component-interface">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>