<div fxLayout="row" fxLayoutAlign="space-between center" class="app-component-header">
    <h2>{{interfaceName}}</h2>
    <div class="example-button-container">
        <button mat-icon-button aria-label="Profile">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</div>