h2{
    margin: 0;
}

.app-component-header{
    border: 1px solid;
    background-color: var(--palette-color-3);
    border-radius: var(--space);
    color: var(--palette-color-0);
    padding-left: calc(var(--space) * 2);
    padding-right: var(--space);
}