<!-- HEADER -->
<app-interface-header interfaceName="{{interfaceName}}"></app-interface-header>
<!-- CONTENT -->
<div class="app-component-content"
    fxLayout.xs="column" fxLayoutAlign.xs="stretch" fxLayoutGap.xs="var(--space)"
    fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="var(--space) grid">
    <app-simple-widget 
        *ngFor="let item of items" 
        fxFlex.gt-xs="45" 
        fxFlex.gt-md="25" 
        [info]="item" 
    ></app-simple-widget>
</div>
