/* You can add global styles to this file, and also import other style files */

:root {
    --space: 5px;
    --card-width: 275px;
    --simple-card-width: 330px;
    --palette-color-0: #ffffff;
    --palette-color-1: #000000;
    --palette-color-2: #033381;
    --palette-color-3: #539bc3;
    --palette-color-4: #268e6c;
    --palette-color-5: #7B31C2;
    --palette-color-6: #333333;
    --palette-color-7: #dfdfdf;
  }

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.app-interface-container{
    height: 100%;
    color: var(--palette-color-6);
}

.app-component-content{
    margin-top: calc( var(--space) * 3 );
}